<%- include ('components/header.ejs'); %>
<body>
  <%- include ('components/navbar.ejs'); %>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h1>Ask</h1>
      </div>
      <div class="card-body">
        <form method="POST" action="/create">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" />
          </div>
          <div class="form-group">
            <label for="ask">Ask</label>
            <textarea type="text" class="form-control" id="ask" name="ask"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include ('components/footer.ejs'); %>
